html {
  background-color: #282c34;
}

h2 {
  color: #fff;
  font-size: 3em;
}

h3 {
  color: #fff;
  font-size: 2em;
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

button {
  background-color: unset;
  color: #fff;
  font-size: 2em;
  border: unset;
  display: inline-block;
  margin: 20px;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}


